html body header.navbar {
  margin-bottom: 0;
}
html body input.form-control {
  margin: 0.5em auto;
}
html body nav.contextual {
  margin: 1em;
}
html body ul.nav-tabs li a,
html body ul.nav-tabs li a:hover,
html body ul.nav-tabs li a:focus {
  border-radius: 0;
  border-top: 0;
}
