form {
	width: 300px;
	margin: auto;
}

header a {
	color: white;
}

.glyphicon.form-control-feedback {
	cursor: pointer;
}

.help-block {
	display: none;
}

.active, .inactive {
	cursor: pointer;
	display: inline-block;
	margin: 5px;
	width: 150px;
	padding: 2px;
}

.active {
	background-color: silver;
}

.inactive {
	background-color: white;
}